/* css search - etoile */

.input{
  border-radius: 5px;
  color: rgb(255, 4, 4);
  width: 600px;
  height: auto;
  padding-left:5px;
}

.buttonetinput{
  display: flex;
}

.input:hover{
  background-color: aqua;
}

.button{
  color: white;
  background-color: green;
  border-radius: 5px;
  width:20pc;
}
.button:hover{
  background-color: red;
}

.titredesetoile{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}


.titre-etoile{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:5px;
  align-items: center;
}

.input-searsh-title-etoile{
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;  
}
.etoile{
  font-size: 25px;
}

/*  css card */

.card{
  position: relative;
  width: 350px;
  height: auto; 
  border-radius: 5px;  
  margin: 5px
}

.listecards{
 display: flex;
 flex-wrap: wrap;
} 

.rating{
  position: absolute; 
  z-index: 3; 
  right: 0;
  margin-right: 5px;
}

.imgcard{
  width: 100%;
  height: 450px;
  position: relative;
  top: 0%
}

.titre-decard{
  text-align: center;
  font-family:monospace;
  font-size: 18px;
}
/*css card modal */


.add-movie{
  border:2px solid black;
  border-radius: 5px; 
  height: 560px; 
  padding-top:190px; 
  width: 350px;
  font-size: 80px;
  text-align: center;
  margin: 5px
} 

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

/* spinner */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}



.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.align-spiner{
display: flex;
justify-content: center
}

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f93f3f;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}